src/main/mule/implementation/login-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<sub-flow name="login-system-api-request" doc:id="03f9be7d-b23e-4534-b693-40e182cf0581" >
		<logger level="INFO" doc:name="Request Login Logger" doc:id="a2aebd21-d819-48ff-94bf-067eb4b64415" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now() &gt;&gt; &quot;UTC&quot;,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Experience API&quot;,&#10;    DestinationApplication: &quot;System API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;Request login systems API&quot;&#10;}]" />
		<http:request method="POST" doc:name="Login System API Request" doc:id="9a4d3095-29b8-4587-bf01-e1f1a2945f70" config-ref="HTTP_Request_configuration" path="${http.request.path.login}" responseTimeout="600000">
			<http:body><![CDATA[#[vars.requestData.payload]]]></http:body>
			<http:headers><![CDATA[#[output application/java
---
{
	"clientSecret" : vars.requestData.headers.clientsecret,
	"x-vio-transactionId" : vars.requestData.headers.'x-vio-transactionid',
	"clientId" : vars.requestData.headers.clientid
}]]]></http:headers>
		</http:request>
		<logger level="INFO" doc:name="Response Login Logger" doc:id="f3dcf6e4-8ef2-4647-ad7a-aad5f53004cf" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: (now() &gt;&gt; &quot;UTC&quot;) [0 to 18],&#10;    TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.start,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Experience API&quot;,&#10;    DestinationApplication: &quot;System API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;Response login system API&quot;&#10;}]" />
	</sub-flow>
	<sub-flow name="login-process" doc:id="1a9c47a6-c819-44ec-8f4b-4e6a0c274e74">
		<choice doc:name="Choice" doc:id="ac68a5fc-98c7-4251-8ce4-752ea8f14e79">
			<when expression="#[!isEmpty(payload.email) and !isEmpty(payload.password)]">
				<ee:transform doc:name="Transform Message" doc:id="77f0e5c9-6ad8-4d21-9480-612d259e37de">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
import modules::password
---
{
	email: vars.requestData.payload.email,
	"otp" : password::generate_password(9)
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<os:store doc:id="b4566bac-d39c-4008-a355-49ca12ce858b" key="otp" objectStore="Object_store" doc:name="Store">
					<os:value><![CDATA[#[payload.otp]]]></os:value>
				</os:store>
				<email:send doc:id="0c204593-8869-478b-95ca-af1b2e24b47a" config-ref="Email_SMTP" fromAddress="notifications@vio.com" subject="One Time Password From VIO App" doc:name="Send">
					<email:to-addresses>
						<email:to-address value="#[vars.requestData.payload.email]" />
					</email:to-addresses>
					<email:body contentType="text/html">
						<email:content><![CDATA[#["<h1> Login Credentials </h1>
<h2> Hello $(payload.email)! </h2>
<p1> Please use password: $(payload.otp) to login </p1>
<p1> Password will expire in 2 minutes </p1>"]]]></email:content>
					</email:body>
				</email:send>
				<ee:transform doc:name="Transform Message" doc:id="89c87f78-f1c1-40dc-a417-64935621ac11">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"customersResponse" : {
		"eventInstanceId" : vars.requestData.headers.'x-vio-transactionid',
		"status" : "success"
}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="b6b32ca7-94c0-42f8-bd9a-e16f60b77ef3">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message : "Username or password is incorrect, please try again"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</sub-flow>
	<flow name="login-implementationFlow" doc:id="73bbfee1-7ee7-4e8c-ae29-b6cb18b71ba5" >
		<logger level="INFO" doc:name="Login Start Logger" doc:id="7b4d146c-274b-492a-990d-d3257388ac39" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now() &gt;&gt; &quot;UTC&quot;,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Experience API&quot;,&#10;    DestinationApplication: &quot;NA&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;Start login process API&quot;&#10;}]" />
		<set-variable value='#[now() &gt;&gt; "UTC"]' doc:name="Set Variable" doc:id="2d9e2626-4dc1-4d6e-9aad-fa2c56666edc" variableName="start" />
		<ee:transform doc:name="Transform Message" doc:id="37f88136-2f05-4ebc-99fc-2df702b29e43">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
import java!com::yoni::Hash
---
{
	email: vars.requestData.payload.email,
	password: Hash::hashPassword(vars.requestData.payload.password)
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Login System API Request Flow Reference" doc:id="7985e8e0-a4e1-4635-930a-d359bbf765ea" name="login-system-api-request" />
		<flow-ref doc:name="Login Process Flow Reference" doc:id="5be6723f-afe3-4d4f-a079-cd95db5d5eb7" name="login-process"/>
		<logger level="INFO" doc:name="Login End Logger" doc:id="3733f34b-1d35-42ef-ab2c-9db9473d8d76" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: (now() &gt;&gt; &quot;UTC&quot;) [0 to 18],&#10;    TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.start,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Experience API&quot;,&#10;    DestinationApplication: &quot;NA&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;End login process API&quot;&#10;}]" />
		<error-handler ref="global-errorError_Handler" />
	</flow>
</mule>
